h1, h2, h3, h4, h5, h6{

}
main {
max-width:800px;
    margin:auto;
    margintop:100px;
    padding:20px;
    background-color:rgba (0,0,0,.1);
}


.image-small:hover {
    width 100%;
    border radius 300px;
    
}

.image-small {
    width:100px;
    transition: width 1s linear;
}

.panneau {
    background-color: gray;
    font-variant: small-caps;
    font-family: sans-serif;
    font-weight: 700;
    
}

body {}
.21 {
    font-variant: small-caps;
    color: gray;
}

h1 {
   font-family: 'Bree Serif', serif;
    font-size: 20px;
}

h2 {
         font-family: 'Bree Serif', serif;
           font-size: 20px;
}

h3 {
           font-family: 'Bree Serif', serif;
}

head a {
          transition: width 1s linear;
    font-family: 'Bree Serif', serif;
}

head a:hover {
          background-color:rgb(250, 250, 250, 0.2);
}

header li {
           display:inline-block;
           width:32%
           text-align:center;
  font-family: 'Bree Serif', serif;
}