.imageac img { 
    border-radius:50%;
    align-img: center;
}

.parcours {
    color: black;

}

.bandeau { text-align: center;
    font-variant:small-caps;
    font-family: 'Bree Serif', serif;
    font-size:30px;
    font-weight: 700;
      


}

a {
color: white;
text-decoration:none;
    
}

.contact {
color: black;
}

main {
max-width:800px;
    margin:auto;
    margintop:100px;
    padding:20px;
}

body {
text-align: center;
    background-color: #19BEC0;
}
.21 {
    font-variant: small-caps;
    color: gray;
}

h1 { color: white;
   font-family: 'Bree Serif', serif;
    font-size: 20px;
    
}

h2 {
         font-family: 'Bree Serif', serif;
           font-size: 20px;
}

h3 {
           font-family: 'Bree Serif', serif;
}

header li {text-align: center;
           display:inline-block;
           width:32%;    
  font-family: 'Bree Serif', serif;
}

header {
background-image: url(images/footer_lodyas.png);

}

body {
background-image:url(images/upfeathers.png);}

footer{
text-align: center;
height:80px;
padding-top: 18px;
color: white;
font-size:  13px;
background-image: url(images/footer_lodyas.png);
}
ul{
list-style: none;}